<h2><%= @continent.name %></h2>

<table>
  <tr>
    <th>Country</th>
    <th>Visited (✓) or Wishlist (✗)?</th>
    <th>Delete</th>
  </tr>
  <% for country in @countries %>
  <tr>
    <td> <a href="/countries/<%= country.id %>"><%= country.name %></a> </td>
    <% if country.visited == 't' %>
       <td><img src="/tick.svg" alt="tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="/cross.svg" alt="cross" style="width:30px;height:30px;"></td>
    <% end %>
    <td> <form action="/countries/<%= country.id %>/delete/continents/<%= @continent.id %>" method="POST">
      <input class="country" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>
</table>

  <a class="button" href="/countries/new">Add a new country</a>
</p>

<a class="button" href="/continents/<%= @continent.id %>/edit">Edit continent</a>
