<h2><%= @city.name %></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Photo</th>
    <th>Comment</th>
    <th>Delete</th>
  </tr>
  <% for visit in @visits %>
  <tr>
    <td> <%= visit.visit_date %> </td>
    <td><img class='holiday_pic' src="<%= visit.url %>" alt="photo"></td>
    <td> <%= visit.comment %> </td>
    <td> <form action="/visits/<%= visit.id %>/delete" method="POST">
      <input class="visit" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>
</table>

<a class="button" href="/cities/<%= @city.id %>/edit">Edit city</a>


<a class="button" href="/visits/new">Add a new visit</a>
