<p>Countries</p>

<table>
  <tr>
    <th>Country</th>
    <th>Continent</th>
    <th>Visited?</th>
    <th>Delete</th>
  </tr>
  <% for country in @countries %>
  <tr>
    <td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
    <td><a href="/continents/<%= country.continent.id %>"><%= country.continent.name %></a></td>
    <% if country.visited == 't' %>
       <td><img src="green_tick.png" alt="green_tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="red_cross.png" alt="red_cross" style="width:30px;height:30px;"></td>
    <% end %>
    <td> <form action="/countries/<%= country.id %>/delete" method="POST">
      <input class="country" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/countries/new">Add a new country</a>
</p>
