<h2>Countries</h2>

<table>
  <tr>
    <th>Country</th>
    <th>Continent</th>
    <th>Visited (✓) or Wishlist (✗)?</th>
    <th>Delete</th>
  </tr>

  <% if @countries.length > 0 %>
  <% for country in @countries %>
  <tr>
    <td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
    <td><a href="/continents/<%= country.continent.id %>"><%= country.continent.name %></a></td>
    <% if country.visited == 't' %>
       <td><img src="tick.svg" alt="tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="cross.svg" alt="cross" style="width:30px;height:30px;"></td>
    <% end %>
    <td> <form action="/countries/<%= country.id %>/delete" method="POST">
      <input class="country" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>

</table>

  <% end %>

  <p>
    <a class="button" href="/countries/new">Add a new country</a>
  </p>
