
<h1><%= @country.name %></h1>

<table>
  <tr>
    <th>City</th>
    <th>Visited (✓) or Wishlist (✗)?</th>
    <th>Delete</th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td> <a href="/cities/<%= city.id %>"><%= city.name %></a> </td>
    <% if city.visited == 't' %>
       <td><img src="/tick.svg" alt="tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="/cross.svg" alt="rcross" style="width:30px;height:30px;"></td>
    <% end %>
    <td> <form action="/cities/<%= city.id %>/delete/countries/<%= @country.id %>" method="POST">
      <input class="city" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>
</table>

  <a class="button" href="/cities/new">Add a new city</a>
</p>

<a class="button" href="/countries/<%= @country.id %>/edit">Edit country</a>
